<!doctype html>
<html lang="fr" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>
    <title>Home</title>
</head>
<body>
<div class="p-5 flex justify-between grid grid-cols-1 gap-1">
    <div class="flex inline-grid">
        <span class="text-lg ">Primary</span>
        <div class="flex inline-grid justify-center p-5 border-[1px] border-gray-500 rounded">
            <a href="#" class="bg-black text-white p-2 px-6 rounded hover:opacity-75 duration-300">Click Me !</a>
        </div>
    </div>
    <br>
    <div class="flex inline-grid">
        <span class="text-lg ">Secondary</span>
        <div class="flex inline-grid justify-center p-5 border-[1px] border-gray-500 rounded">
            <a href="#" class="bg-transparent text-black border-[1px] border-gray-200 p-2 px-6 rounded hover:opacity-75 duration-300">Click Me !</a>
        </div>
    </div>
    <br>
    <div class="flex inline-grid">
        <span class="text-lg ">Success</span>
        <div class="flex inline-grid justify-center p-5 border-[1px] border-gray-500 rounded">
            <a href="#" class="bg-green-800 text-white p-2 px-6 rounded hover:opacity-75 duration-300">Click Me !</a>
        </div>
    </div>
    <br>
    <div class="flex inline-grid">
        <span class="text-lg ">Danger</span>
        <div class="flex inline-grid justify-center p-5 border-[1px] border-gray-500 rounded">
            <a href="#" class="bg-red-800 text-white p-2 px-6 rounded hover:opacity-75 duration-300">Click Me !</a>
        </div>
    </div>
    <br>
    <div class="flex inline-grid">
        <span class="text-lg ">Warning</span>
        <div class="flex inline-grid justify-center p-5 border-[1px] border-gray-500 rounded">
            <a href="#" class="bg-yellow-800 text-white p-2 px-6 rounded hover:opacity-75 duration-300">Click Me !</a>
        </div>
    </div>
    <br>
    <div class="flex inline-grid">
        <span class="text-lg ">Info</span>
        <div class="flex inline-grid justify-center p-5 border-[1px] border-gray-500 rounded">
            <a href="#" class="bg-blue-800 text-white p-2 px-6 rounded hover:opacity-75 duration-300">Click Me !</a>
        </div>
    </div>
</div>
</body>
</html>